body {font-family: Arial, Helvetica, sans-serif; background-color: #ffffff;}

#wrapper {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 700px;
	/*border: 1px solid black;*/
    overflow: hidden; /* will contain if #bench is longer than #second */
}

#bench {
    width: 282.95px;
	height: 100%;
	padding: 5px;
    float:left; /* add this */
    /*border: 1px solid red;*/
}

#bench_list {
	height: 70%;
	overflow-y: scroll;
}

#aufstellung_wrapper {
    /*border: 1px solid green;*/
	/*width: 80.1%;*/
	width: -webkit-calc(100% - 302.95px);
    width:    -moz-calc(100% - 302.95px);
	width: 		   calc(100% - 302.95px);	
	/*height: 100%;*/
	padding: 5px;
	float: left;
	background-image: url(grass2.jpg);
	background-repeat: repeat;
    overflow: hidden; /* if you don't want #second to wrap below #first */
    min-height: 80%;
}

#aufstellung_sturm { 	
					width: 100%;
					/*height: 80px;*/
					padding: 5px;
					display: flex;
					justify-content: space-around;
					flex-wrap: wrap-reverse;
					align-items: center;
}
					 
#aufstellung_mittelfeld { 
					width: 100%;
					/*height: 160px;*/
					padding: 5px;
					display: flex;
					justify-content: space-around;
					flex-wrap: wrap-reverse;
					align-items: center;


}

#aufstellung_verteidigung { 
					width: 100%;
					/*height: 160px;*/
					padding: 5px;
					display: flex;
					justify-content: space-around;
					flex-wrap: wrap;
					align-items: center;

}
					 
#aufstellung_tor { 
				width: 100%;
				/*height: 160px;*/
				padding: 5px;
				display: flex;
				justify-content: space-around;
				flex-wrap: wrap-reverse;
				align-items: center;
}

#sortable1 { 
	list-style-type: none; margin: 0; float: left; margin-right: 10px; background: #eee; padding: 2px; width: 255px;}
	
#sortable_sturm1, #sortable_sturm2, #sortable_sturm3, #sortable_tor,
#sortable_mittelfeld1, #sortable_mittelfeld2, #sortable_mittelfeld3, #sortable_mittelfeld4, #sortable_mittelfeld5,
#sortable_verteidigung1, #sortable_verteidigung2, #sortable_verteidigung3, #sortable_verteidigung4, #sortable_verteidigung5 { 
	list-style-type: none; 
	margin: 0; 
	float: left; 
	margin: 3px; 
	background-color: rgba(255,255,255,0.5);
	padding: 2px; 
	width: 255px; 
	height: 81px;
}	

#sortable1 li { 
	margin: 1px; 
	padding: 3px; 
	font-size: 1.2em; 
	width: 245px; 
	height: 72px;
}
	
#sortable_sturm1 li, #sortable_sturm2 li,  #sortable_sturm3 li, 
#sortable_mittelfeld1 li, #sortable_mittelfeld2 li, #sortable_mittelfeld3 li, #sortable_mittelfeld4 li, #sortable_mittelfeld5 li,
#sortable_verteidigung1 li, #sortable_verteidigung2 li,  #sortable_verteidigung3 li, #sortable_verteidigung4 li, #sortable_verteidigung5 li,
#sortable_tor li {
	margin: 1px; 
	padding: 3px; 
	font-size: 1.2em; 
	opacity: 1;
	width: 245px; 
	height: 72px;
}

#sinfo {padding: 1px;}

#sbild {float: left;
		padding: 1px;
		margin-right: 3px}

#snote {float: right;
		padding: 1px;
		text-align: center;
		font-weight: bold;
		color: white;}

.ui-state-default{
	border-color: #4caf50;
	background-color: white;
}

.ui-state-disabled{
	border: solid black;
	background-color: white;
	border-width: 1px;
}

/* NAVIGATIONSMENU */

#control_elements {
	display: flex;
	justify-content: space-between;
	margin-top: -35px;
}

#hilfscontainer ul {
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

#hilfscontainer li {
  float: left;
}

#hilfscontainer li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Für den Header */
#hilfscontainer li a:hover {
  background-color: #111;
}