#main_section{
  background: white !important;
  border: solid 1px lightgray;
  padding: 10px;
  max-width: 1100px !important;
  margin: 0 auto !important;
  margin-left: auto !important;
  margin-right: auto !important;
  display: flex;
  flex-wrap: wrap;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 999px) {
  .row, .navbar {   
    flex-direction: column;
  }
  
  #main_section {
    margin: 0 5px !important;
    padding: 5px !important;
    max-width: none !important;
  }
  
  #headline {
    height: 10px !important;
    min-height: 10px;
    max-height: 10px;
  }
  
  .img_player {
    display: none !important;
  }
}

/* Column container */
.row {  
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  justify-content: space-evenly;
  background-image: url(../img/textures/grass.jpg);
  background-repeat: repeat;
}

#headline {
  flex: 100%;
  color: white;
  font-weight: bold;
  justify-content: center;  
  text-align: center;
  height: 40px !important;
  min-height: 40px;
  max-height: 40px;
}

.center {
  text-align: center;
}

#feed {
  flex: calc(70% - 20px);
}

.main_bar {
  background: rgba(241, 241, 241, .3);
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #ddd;
   
}

#feed_header {
  text-align: center;
  font: 15px Arial;
  font-weight: bold;
  color: #333333;
  padding: 20px;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-top: 1px solid #ddd;
  background-image: linear-gradient(to bottom, #ffffff 0%, #f2f2f2 100%)
}

.highlight_section {
  background-color: lightgray;
  padding: 5px;
}

.side_bar {
  flex: calc(30% - 20px);
  margin-left: 10px;
}

.graybox{
  background: #333333;
  color: white;
  padding: 5px;
  margin-bottom: 10px;
  display: block
}

.graybox_header{
  text-align: center;
  font: 14px Arial;
  font-weight: bold;
}

#notifications{
  font: 11px Arial;
}

.red_badge {
  display: inline-block;
  background-color: #f00;
  border-radius: 10px;
  width: 20px;
  line-height: 20px;
  text-align: center;
  margin: -3px 10px 0 0;
  font-weight: bold;
  vertical-align: sub;
}

.alert_wrap{
  display: flex;
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

#next_waiver{
  text-align: center;
  padding: 5px;
  font: 14px Arial;
}

#next_waiver_date{
  text-align: center;
  padding: 10px;
  font: 14px Arial;
}

#waiver_nav{
  margin-top: 15px;
  margin-bottom: -10px;
}

#table_nav{
  padding: 5px;
  text-align: center;
}


/* ========================================
   ALERT AND LINK STYLES
   ======================================== */
.alert_wrap a, #waiver_nav a, #table_nav a {
  color: #4caf50;
  text-decoration: none;
  font: 11px Arial;
  cursor: pointer;
}

.alert_wrap a:hover, #waiver_nav a:hover, #table_nav a:hover {
  color: #4caf50;
  text-decoration: underline;
  font: 11px Arial;
  cursor: pointer;
}


#boxscores, #tabellen {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
}
#scores_nav {
  text-align: center;
  padding-top: 10px;
}

#scores_nav ul {
  list-style-type: none !important;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  align-items: stretch;
  justify-content: space-evenly;
  cursor:pointer;
  font: 12px Arial;
  font-weight: bold;
}

#scores_nav li {
  list-style: none !important;
  list-style-type: none !important;
}

#scores_nav li a {
  color: white;
  text-align: center;
  text-decoration: none;
  padding-top: 10px
}


tr.tr_away >td {
  padding-bottom: 6px;
  padding-top: -6px
}

/* ========================================
   SCORES AND FIXTURES STYLES
   ======================================== */
.scores_table{
  width: 100%;
  color: white;
  font: 11px Arial;
}

table.scores_table tr:hover td {
  color: #4caf50;
}

table.scores_table tr:hover td a{
  text-decoration: none; 
  cursor: pointer;
  color: #4caf50;
}

.fixture_row {
  cursor: pointer;
}

.fixture_row:hover {
  color: #4caf50;
}

.fixture_row:hover a {
  color: #4caf50;
}

.fixture_row:hover tr td {
  color: #4caf50;
}

.fixture_row:hover tr td a {
  color: #4caf50;
}

.scores_table tr td a{
  color: white;
  text-decoration: none
}
.match_team{
  color: white;
  font: 11px Arial;
  cursor: pointer;
  text-decoration: none;
}

.match_team a:hover {
  color: #4caf50;
  font: 11px Arial;
  cursor: pointer;
  text-decoration: none;
}

.news_article_wrapper{
  display: inline-flex;
  padding: 10px;
  width: 100%;
  background: url(../img/textures/dottedBorder.gif) repeat-x bottom left;
  position: relative;
}

.news_highlight{
  background-color: #f2f2f2;
}

.news_article_text{
  font: 14px Arial;
  color: #333;
  padding-bottom: 25px;
}

.news_article_text a{
  color: #4caf50;
  text-decoration: none;
  font-weight: bold;
}

.news_player{
  color: #4caf50;
  text-decoration: none;
  font-weight: bold;
}

.news_article_text a:hover{
  color: #4caf50;
  text-decoration: underline;
  font-weight: bold;
}

.news_create_dt{
  position: absolute;
  bottom: 10px;
  font-size: 11px;  
}

.news_spieltag_abschluss{
  padding: 10px;
  width: 100%;
  font: 14px Arial;
  text-align: center;
  font-weight: bold;
  text-transform: full-width;
}

.news_news{
  padding: 10px;
  width: 100%;
  font: 14px Arial;
  color: #333;
  text-decoration: none;
  position: relative;
}

.news_content{
  padding-bottom: 25px;
}

.li_news{
  padding: 10px;
  width: 100%;
  font: 14px Arial;
  color: #333;
  text-decoration: none;
}

.news_news a, .li_news a{
  color: #4caf50;
  text-decoration: none;
}

.news_news a:hover, .li_news a:hover {
  color: #4caf50;
  text-decoration: underline;
  cursor: pointer;
}

.img_player{
  height: 60px;
  width: 60px;
  margin-right: 10px;
}

.img_player img{
  height: 100%;
  border-radius: 5px;

}

.bundesliga_logo{
  height: 60px;
  margin-right: 10px;
}

.bundesliga_logo img{
  height: 100%;
  width: auto;
  margin-left: -20px;
}

.bundesliga_ergebnis{
  display: inline-flex;
  align-items: center;
}

.bundesliga_ergebnis_headline{
  font-size: 10px;
  font-weight: bold;
  text-align: center;
}

.bundesliga_ergebnis_score_wrapper{
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  padding-top: 8px;
}

.bundesliga_ergebnis_topscorer{

  font-size: 10px;
  align-content: center;
  padding-top: 7px;
  margin-left: 30px;
  display: flex;
  align-items: center;
}

.topscorer_table{
  display: flex;
  flex-direction: column;
}

.topscorer_table_row{
  display: flex;
  justify-content: space-between;
}

.topscorer_table_td{
  display: flex;
  margin-right: 10px;
}

.bundesliga_ergebnis_score{
  font-size: 24px;
  font-weight: bold;
  margin-left: 10px;
  margin-right: 10px;
}

.bundesliga_ergebnis_verein{
  height: 30px;
}

.bundesliga_ergebnis_verein img {
  height: 100%;
  width: auto;
}

#switch_to_mobile{
  display: none !important;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  padding: 10px;
}


@media only screen and (max-width: 999px) {
    #switch_to_mobile {
        display: block !important;
    }
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 999px) {
  .row, .navbar {   
    flex-direction: column;
  }
  
  #main_section {
    margin: 0 10px !important;
    padding: 10px !important;
    max-width: none !important;
  }
  
  #headline {
    height: 10px !important;
    min-height: 10px;
    max-height: 10px;
  }
}

/* WRAPPER */
.tickerv-wrap {
  background: #eee;
  box-sizing: content-box;
  height: 25px; /* Take note of this */
  overflow: hidden; /* Hide scrollbars */
  padding: 10px;
} 

/* TICKER ANIMATION */
@keyframes tickerv {
  0%   {margin-top: 0;}
  10%  {margin-top: -26px;} /* 1 X 25 px */
  20%  {margin-top: -52px;} /* 1 X 25 px */
  30%  {margin-top: -78px;} /* 1 X 25 px */
  40%  {margin-top: -104px;} /* 1 X 25 px */
  50%  {margin-top: -130px;} /* 1 X 25 px */
  60%  {margin-top: -156px;} /* 1 X 25 px */
  70%  {margin-top: -182px;} /* 1 X 25 px */
  80%  {margin-top: -208px;} /* 1 X 25 px */
  90%  {margin-top: -234px;} /* 1 X 25 px */
  100%  {margin-top: 0} /* 1 X 25 px */
}

.tickerv-wrap ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  animation-name: tickerv; /* Loop through items */
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(1, 0, .5, 0);
}
.tickerv-wrap ul:hover {
  /* Pause on mouse hover */
  animation-play-state: paused;
}

/* ITEMS */
.tickerv-wrap ul li {
  font: 14px Arial;
  color: #333;
  line-height: 26px /* Same as wrapper height */
}

.tickerv-wrap a{
  text-decoration: none;
    font: 14px Arial;
  color: #333;
}

.tickerv-wrap a:hover{
  color: #4caf50;
  text-decoration: underline;
}
