body {font-family: Arial, Helvetica, sans-serif; background-color: rgb(10, 48, 66);;}

* {
  box-sizing: border-box;
}

/* Style the body */
body {
  font-family: Arial;
  margin: 8px;
  background-color: #4CAF50;
}


/* Column container */
.row {  
  display: flex;
  flex-wrap: nowrap;
  background-image: url(../img/textures/grass.jpg);
  background-repeat: repeat;
  overflow: hidden;
  max-width: 100%;
  overflow-x: auto;
}

#player_img {
	border-radius: 50%;
  border: 1px solid white;  border: solid;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
	}

#akt_player_data {
	width: 100%;
}

#akt_player_data td {
  vertical-align: middle;
  font-size: 11px;
}

#headline {
  flex: 100%;
  background-color: #4CAF50;
  /*background-image: none;*/
  color: white;
  font-weight: bold;
  justify-content: center;  
  text-align: center;
}

.pre{
    color: #003eff !important;
}

.superheadscore {
	border: 1px solid #ccc;
	margin-bottom: -20px;
}	
	

	
.headscore {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: -40px;
  padding: 10px;
  background-color: #f5f5f5;
}

.headscore .left-section {
  display: inline-block;
  align-items: center;
  flex-wrap: nowrap;
  z-index: 2;
}

.headscore .chart-section {
  flex-grow: 1;
  display: flex;
  justify-content: flex-start; 
  align-items: center;
  position: relative;
  z-index: 1;
}

.headscore h2 {
  display: inline-block;
  z-index: 3;
  font-size: 18px;
  word-break: break-word;
  font-weight: 1500;
  align-items: center;
  margin-left: 5px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-clip: padding-box;
  padding: 20px;
  position: relative;
  background-size: 100% 100%;
  vertical-align: text-bottom;
}

.headscore h2::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.team-name-section {
	
}

.team-name-section h2 {
  display: inline-block;
  z-index: 3;
  font-size: 20px;
  word-break: break-word;
  align-items: center;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-clip: padding-box;
  padding-top: 20px;
  position: relative;
  background-size: 100% 100%;
  margin-left: 13px;

}

.team-name-section h2::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.headscore .round-image-div {
  width: 100px;
  display: inline-flex;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}

.headscore .round-image-div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.round-image-div.zoomed img {
  transform: scale(1.4);
}

/*Hier beginnt das Tabellenlayout */

.grid {
  float: right;
  min-width: 325px;
  background-size: cover;
  position: relative;
  border: 1px solid #ccc;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-left: -27px;
  margin-bottom: -40px;
}

.bar_live_punkte {
  height: 30px;
  font-weight: bold;
  margin-bottom: 1px;
  width: var(--bar-value);
  background-color: #4CAF50;
  box-shadow: 0 0 10px 5px #000;
  display: flex;
  align-items: center;
  text-align: center;
  line-height: 40px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 5;
}

.bar_live_punkte > span {
  padding-left: 29px;
}

.bar_live_prognose {
  position: absolute;
  height: 30px;
  font-weight: bold;
  font-size: 12px;
  margin-bottom: 1px;
  width: var(--bar-value);
  background: url(../img/striped_grey.jpg);
  background-repeat: repeat;
  background-size: 100% 100%;
  box-shadow: 0 0 7px 3px #000;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  line-height: 40px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  color: #003eff;
}


.bar_live_prognose span {
  position: absolute;
  right: -5px;
  transform: translateX(100%);
  white-space: nowrap;
  padding-left: 6px;
  font-size: 13px;
  color: #003eff;
  font-weight: bold;
  border-radius: 5px;
  background: none;
}

.marker {
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0.5;
}

.marker-text {
  position: absolute;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  top: calc(100% + 5px);
  left: 50%;
  transform: translateX(-50%);
}

.marker-50 {
  left: calc(65px - 1px);
  top: 0;
}

.marker-100 {
  left: calc(130px - 1px);
  top: 0;
}

.marker-150 {
  left: calc(195px - 1px);
  top: 0;
}

.marker-200 {
  left: calc(260px - 1px);
  top: 0;
}

.marker-text-50 {
  left: 65px;
  bottom: 0;
}

.marker-text-100 {
  left: 130px;
  bottom: 0;
}

.marker-text-150 {
  left: 195px;
  bottom: 0;
}

.marker-text-200 {
  left: 260px;
  bottom: 0;
}

.cup-score {
  background: #4CAF50;
  padding: 5px 10px;
  margin-top: 5px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  display: inline-block;
  vertical-align: top;
}

.custom-margin {
  margin-top: 35px; 
  margin-bottom: -35px;
  margin-left: 10px;
}

100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.0;}
}

.scoreboard{
  background-color: black;
  font-weight: bold;
  color: white;
  letter-spacing: 3px;
  font-size: 20px;
  padding: 5px;
  padding-left: 7px;
  opacity: 0.8;
  box-shadow: 0 0 10px 5px #000;
}

.scoreboard_proj{
  background-image: url(grass2.jpg);
  font-weight: bold;
  color: #003eff;
  letter-spacing: 3px;
  font-size: 20px;
  padding: 5px;
  padding-left: 7px;
  opacity: 0.8;
  box-shadow: 0 0 10px 5px #000;
}

.headprojection {
  display: flex;
  float: right;
  justify-content: space-between;
  margin-bottom: -20px;
  margin-top: -18px;
}

.player_score {
  font-weight: bold;
  letter-spacing: 3px;
  font-size: 19px;
  color: black;
}

.player-score-wrapper {
  display: flex;                
  justify-content: flex-end;    
  align-items: center;         
  width: 100%;                 
}

.projection {
  font-size: 0.7em;           
  color: #003eff;             
  letter-spacing: -0.5px;        
  flex-shrink: 0;               
  margin-right: 10px;           
}

.projection.zero-score {
  color: red;
}

/* Base styling for actual score */
.actual-score {
  font-size: 1em;
  padding: 5px;
  border-radius: 5px;
  text-align: center;        
  min-width: 60px;             
  width: auto;               
  display: inline-block;      
}

/* Subtle colors for the background */
.actual-score.red {
  background-color: #f4cccc; /* Muted red (soft coral) */
  color: black; 
}

.actual-score.orange {
  background-color: #ffe5b4; /* Muted peach */
  color: black;
}

.actual-score.yellow {
  background-color: #fff3b0; /* Soft butter yellow */
  color: black; 
}

.actual-score.light-green {
  background-color: #d0f0c0; /* Pale mint green */
  color: black;
}

.actual-score.dark-green {
  background-color: #8fbc8f; /* Soft olive green */
  color: black;
}

.player_score1 {
  font-weight: bold;
  letter-spacing: 3px;
  font-size: 19px;
}


.pulsate {
  -webkit-animation: pulsate 2s ease-out;
  -webkit-animation-iteration-count: infinite; 
  opacity: 0.5;
}
@-webkit-keyframes pulsate {
  0% { 
    opacity: 0.5;
  }
  50% { 
    opacity: 1.0;
  }
  100% { 
    opacity: 0.5;
  }
}



.spieler {
  flex: 39.5%;
  background-color: #f1f1f1;
  padding: 20px;
  margin: 0.25%;
  max-width: 100%;
}

/* Main column */
.gegner {
  flex: 39.5%;
  background-color: #f1f1f1;
  padding: 20px;
  margin: 0.25%;
}

.info {
  flex: 19.5%;
  background-color: white;
  padding: 20px;
  margin: 0.25%;
}

/* Fake image, just for this example */
.fakeimg {
  background-color: #4CAF50;
  width: 100%;
  height: 2px;
}

#myTable {
  font-size: 16px;
  width: 100%;
  background-color: #f2f2f2;
  border-collapse: collapse;
  border:none;
}

#myTable tr:hover {
  background-color: #ddd; 
  cursor: pointer;
}

#myTable td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.matchup-small-text {
  font-size: 0.75em; 
  line-height: 1.2em; 
  color: #333; 
  white-space: normal;
  word-wrap: break-word;
  overflow: hidden; 
  max-width: 150px; 
  text-overflow: ellipsis; 
}

.player_detail {
  display: none;
  font-size: 12px;
  color: #484848;
  background: #ddd;
}

.ring-container {
	position: absolute; 
	width: 10px;
	height: 10px; 
	border-radius: 50%; 
	top: 50%; 
	transform: translate(-50%, -50%); 
	z-index: 2;
	margin-top: -24px;
    margin-left: -4px;
}

.circle {
    width: 12px;
    height: 12px;
    background-color: #00FF00;
    border-radius: 50%;
    position: absolute;
    top: 23px;
    left: 23px;
}

.ringring {
  border: 3px solid #00FF00;
  -webkit-border-radius: 30px;
  height: 22px;
  width: 22px;
  position: absolute;
  left: 18px;
  top: 18px;
  -webkit-animation: pulsate 1s ease-out;
  -webkit-animation-iteration-count: infinite; 
  opacity: 0.0
}
@-webkit-keyframes pulsate {
  0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
  50% {opacity: 1.0;}
}


.mirror {
    transform: scaleX(-1);
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 786px) {
  .row, .navbar {  
	flex-wrap: wrap;
    flex-direction: column;
	
  }
  .headscore .left-section {
    flex-basis: 50%;
  }
}