body { 
  font-family: Arial, Helvetica, sans-serif; 
  background-color: #ffffff;
}

* {
  box-sizing: border-box;
}

/* Style the body */

#wrapper {
  background-image: url(../img/textures/grass.jpg);
  background-repeat: repeat;
  padding-top: 30px;
  padding-bottom: 30px;

}

#content_wrapper{
  background: white;
  border: solid 1px lightgray;
  padding: 10px;
  margin-left: 15%;
  margin-right: 15%;

}

#cup_nav_wrapper{
  display: inline-flex;
}

.nav_spieltag{
  padding: 5px;
  background-color: #f4f4f4;
  color: #3f3333;
  cursor: pointer;

}

#cup_round_meta_info{
  padding: 5px;
  background-color: #f4f4f4;
  color: #3f3333;
  font-size: 12px;
  width: max-content;
}

.nav_spieltag_head{
  padding: 5px;
  background-color: #f4f4f4;
  color: #3f3333;
  font-weight: bold;
}

#cup_headline {
  background-image: linear-gradient(to bottom, #ffffff 0%, #f2f2f2 100%);
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
  margin-bottom: 10px;
  position: relative;
  font-size: 18px;
  padding: 15px;
  text-align: center;
  font-weight: bold;
  color: #3f3333;
}

#cup_content{
  display: flex;
  padding: 10px;
}

#cup_playoff_table{
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 500px;
  margin-right: 100px;

}

.cup_table_tr{
  display: table-row;
  font-size: 12px;

}

.cup_table_td{
  display: table-cell;
  padding-left: 5px;
  padding-right: 5px;
  padding: 1px;

}

.cup_table_headline{
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.cup_table_footnote{
  font-size: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}


.matchup_card{
  display: flex;
  background: #333333;
  color: white;
  padding: 5px;
  justify-content: center;
  max-width: 550px;
}

.team_home{
  text-align: right;
  background: #000000;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 250px;
}

.team_away{
  text-align: left;
  background: #000000;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 250px;
}

.teamname{
 font-weight: bold;
 font-size: 18px;
 white-space: nowrap;
 overflow: hidden;
 text-overflow: ellipsis;
}

.team_score_wrapper{
  display: flex;
  justify-content: space-between;
}
          
.leg_scores{
  margin-top: auto;
  margin-bottom: auto;
}

a{
  text-decoration: none;
  color: white;
}

a:hover{
  color: #4caf50;
  text-decoration: underline;
}

.hin_score, .rue_score{
  font-size: 12px;
}

.full_score{
  font-size: 34px;
  font-weight: bold;
  text-align: center;
}

.middle_element{
  margin: auto;
  padding: 20px;
  font-size: 10px;
}

.matchup_bezeichner{
  font-size: 12px;
}

.tiebraker_textbox{
  font-size: 12px;
}

.round_info{
  font-size: 12px;
  padding: 5px;
}
