.row {  
  display: flex;
}

#player_img {
	border-radius: 50%;
	border-color: #4caf50;
	border: 1px;
  padding: 5px;
	}

#headline {
  flex: 100%;
  color: white;
  font-weight: bold;
  justify-content: center;  
}

#myInput {
  background-image: url('../img/icons/searchicon.png');
  background-position: 10px 12px; /* Position the search icon */
  background-size: 20px 20px;
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}

.overview {
  background-color: #f1f1f1;
  padding: 20px;
  margin: 2.5px;
  margin-left: 5px;
  min-width: 400px;
}

.spieler_spotlight {
  width: calc(100% - 415px);
  background-color: #f1f1f1;
  padding: 10px;
  margin: 2.5px;
  margin-right: 5px;
}

.fakeimg {
  background-color:  #4caf50;
  width: 100%;
  height: 2px;
}

.kader {
  overflow-y: scroll;
  height: 800px;
}

#myTable {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 12px;
  width: 100%;
  background-color: #f2f2f2;
  border-collapse: collapse;
  border:none;
  overflow-y: scroll;
}

#myTable tr:hover {
  background-color: #ddd;
  cursor: pointer; 
}

#myTable td {
  padding: 3px;
  border-bottom: 1px solid #ddd;

}

#profil{
  padding: 2px;
  border-style: solid;
  border-width: 1px;
  border-color: #4caf50;
  height: 200px;
}

#score_summary{
  padding: 2px;
  border-style: solid;
  border-width: 1px;
  border-color: #4caf50;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.score_summary_flex{
  position: relative;
  text-align: center;
  flex: 1 1 0;
}

.score_summary_icon{
  position: relative;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.score_summary_headline{
  font-size: 10px;
  font-weight: bold;
  text-align: left;
  color: #4caf50;
}

.score_summary_sub {
  font-size: 10px;
  text-align: center;
  color: #474747;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-size: 16px;
  font-weight: bold;
}

#score_detail{
  padding: 2px;
  border-style: solid;
  border-width: 1px;
  border-color: #4caf50;
  margin-top: 10px;
}

#score_detail_table{
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 12px;
  border-collapse: collapse;
  width: 100%;
}

#score_detail_table tr:hover {
  background-color: #ddd;
}

@media screen and (max-width: 700px) {
  .row, .navbar {   
    flex-direction: column;
  }
}

#spielerprofil_metadaten{
  padding: 3px;
}

#spielerprofil_image{
  padding: 3px;
  height: 100px;
  width: 100px;
}

#meta_daten_table{
  font-size: 12px;
}

#spielerprofil_wrapper{
  background: white;
  overflow-x: hidden;
}

#spielerprofil_basisdaten{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 10px;
  height: 100px;
  background-image: linear-gradient(to bottom, #ffffff 0%, #f2f2f2 100%);
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
  margin-bottom: 10px;
  position: relative;
  font-size: 12px;
}

#spielerprofil_headline{
  text-align: center;
  margin: 10px;
  font-weight: bold;
  font-size: 18px;
}

.profil_player_name{
  font-size: 14px;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px;
}

.metadaten_table{
  display: flex;
}

.left_col, .middle_col, .right_col{
  display: table;
  margin-top: 3px;
  margin-right: 25px;
}

.meta_stat_row{
  display: table-row;
}

.meta_value{
  display: table-cell;
  padding: 1px;
}

.meta_stat{
  display: table-cell;
  font-weight: bold;
  padding: 1px;
  padding-right: 10px !important;
}

#player_image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.sub_headline{
  font-size: 14px;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px;
}

#transfer_daten{
  margin-top: 10px;
  padding: 10px;
}

#transfer_table{
  font-size: 11px;
  color: #555;
  padding: 3px;
  text-align: center;
  white-space: nowrap;
}

#transfer_table th {
  padding: 4px;
  background-color: #e3e3e3;
  color: black;
}

#transfer_table td {
  color: #555;
  padding: 3px;
  text-align: left;
  white-space: nowrap;
}

#spielerprofil_fantasy{
  display: flex;
  flex-direction: column;
  margin: 10px;
  text-align: center;
  color: white;
  background: #333;
  font-family: Open Sans,sans-serif;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 1px;
  padding-bottom: 1px;border-radius: 5px 5px 5px 5px;
}

#spielerprofil_fantasy_head{
  padding: 2px;
  color: lightgray;
  font-size: 10px;
  font-weight: bold;
}

#spielerprofil_fantasy_score{
  display: inline-flex;
  padding: 2px;
  justify-content: space-around;
}

#spielerprofil_fantasy_score > div{
  padding: 3px;
  background: black;
  color: white;
  border-radius: 2px 2px 2px 2px;
  flex: 1 1 0px;
  margin-left: 1px;
  margin-right: 1px;
}

.gesamt_fantasy_score_head{
  text-transform: capitalize;
  font-size: 9px;
}

.gesamt_fantasy_score_value{
  font-weight: bold;
  font-size: 14px;
}

#spielerprofil_fantasy_rank{
  display: inline-flex;
  padding: 2px;
  justify-content: space-around;
  font-size: 9px;
}

#spielerprofil_fantasy_rank > div{
  padding: 3px;
}

#player_season_summary, .season_details_container{
  padding: 10px;
  overflow-x: scroll;
}

#season_summary_table th, .season_details_table th {
  font-size: 9.5px;
  padding: 4px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis; 
}

#season_summary_table td, .season_details_table td {
  font-size: 9.5px;
  color: #555;
  padding: 3px;
  border-bottom:1pt solid lightgray;
  text-align: center;
  white-space: nowrap;
}

#table_2020 tr:hover {
    background-color: #ddd;
    cursor: pointer; 
}

.first_th{
  background-color: #e3e3e3;
  text-decoration: none;
  font-weight: normal;
}

.second_th {
  background-color: #f4f4f4;
  text-decoration: none;
  font-weight: normal;
}

.highlight_td{
  font-weight: bold;
  font-size: 10px !important;
}

#highlights_2019{
  display: flex;
  margin: 10px;
}

.highlight_stat{
  display: inline-flex;
  flex-direction: column;
  justify-content: start;
  margin-left: 2.5px;
  margin-right: 2.5px;
  padding: 5px;
  background-color: #333;
  color: white;
  text-align: center;
}

.highlight_stat_headline {
  font-size: 10px;
  opacity: 0.5;

}

.higlight_stat_value{
  font-size: 11px;
  font-weight: bold;
}

.higlight_stat_ranks{
  display: inline-flex;
  flex-direction: row;
  font-size: 9px;
  text-align: center;
  opacity: 0.5;
  margin-top: 1px;
}
                
.highlight_stat_rank_ovr, .highlight_stat_rank_pos{
  text-align: center;
  padding: 1px;
}

#season_summary {
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: Open Sans,sans-serif;
  overflow-x: scroll;
}

.season_summary_item {
  margin-right: 5px;
  margin-left: 5px;
  background: #333;
  border-radius: 5px 5px 5px 5px;
  color: white;
  text-align: center;
  width: 50px;
  height: 50px;
  padding: 5px;
}

.season_summary_headline {
  color: lightgray;
  font-size: 10px;
  overflow-x: hidden;
  white-space: nowrap;
}

.season_summary_stat {
  font-size: 12px;
  font-weight: bold;
  cursor: help;
}

.season_summary_rank {
  font-size: 9px;
  color: lightgray;
  white-space: nowrap;
}

.up{
  color:lightgreen;
}

.down{
  color:red;
}

/* Achievement star styles */
.star-placeholder {
  color: transparent;
  user-select: none;
  pointer-events: none;
}

/* Score styling like in view_match_buli.php */
.weekly-score {
  font-size: 1em;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 1px;
  padding-bottom: 1px;
  border-radius: 3px;
  text-align: center;
  width: 30px;
  display: inline-block;
}

.weekly-score.red {
  background-color: #f4cccc;
  color: black; 
}

.weekly-score.orange {
  background-color: #ffe5b4;
  color: black;
}

.weekly-score.yellow {
  background-color: #fff3b0;
  color: black; 
}

.weekly-score.light-green {
  background-color: #d0f0c0;
  color: black;
}

.weekly-score.dark-green {
  background-color: #8fbc8f;
  color: black;
}

.team-logos-container {
  display: inline-block;
  margin-left: 5px;
  vertical-align: middle;
}

.team-logo-stacked {
  height: 11px;
  width: 11px;
  display: inline-block;
  object-fit: contain;
  margin-right: 2px;
  vertical-align: bottom;
}

#season_summary_table td:first-child {
  white-space: nowrap;
  text-align: left;
}

#season_summary_table th:first-child {
  min-width: 65px;
}

@media screen and (max-width: 1200px){
/** Mobile hide **/
 .hide_mobile {
    display: none !important;
  }
}