body {font-family: Arial, Helvetica, sans-serif; background-color: #ffffff;}

* {
  box-sizing: border-box;
}

/* Style the body */
body {
  font-family: Arial;
  margin: 8px;
}

/* Column container */
.row {  
  display: flex;
  /*flex-wrap: wrap;*/
  background-image: url(../img/textures/grass.jpg);
  background-repeat: repeat;
  overflow: hidden;
}

#player_img {
	border-radius: 50%;
	border-color: #4caf50;
	border: 1px;
  padding: 5px;
	}

#headline {
  flex: 100%;
  background-color: #4caf50;
  /*background-image: none;*/
  color: white;
  font-weight: bold;
  justify-content: center;  
}


#myInput {
  background-image: url('/css/search_icon.png'); /* Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-size: 20px 20px;
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}

.overview {
  /*flex: 39.25%;*/
  background-color: #f1f1f1;
  padding: 20px;
  margin: 2.5px;
  margin-left: 5px;
  min-width: 400px;
}

/* Main column */
.spieler_spotlight {
  width: calc(100% - 415px);
  background-color: #f1f1f1;
  padding: 10px;
  margin: 2.5px;
  margin-right: 5px;
}

/* Fake image, just for this example */
.fakeimg {
  background-color:  #4caf50;
  width: 100%;
  height: 2px;
}

.kader {
  overflow-y: scroll;
  height: 800px;
}

#myTable {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 12px;
  width: 100%;
  background-color: #f2f2f2;
  border-collapse: collapse;
  border:none;
  overflow-y: scroll;
}

#myTable tr:hover {
  background-color: #ddd;
  cursor: pointer; 
}

#myTable td {
  padding: 3px;
  border-bottom: 1px solid #ddd;

}

#profil{
  padding: 2px;
  border-style: solid;
  border-width: 1px;
  border-color: #4caf50;
  height: 200px;
}

#score_summary{
  padding: 2px;
  border-style: solid;
  border-width: 1px;
  border-color: #4caf50;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.score_summary_flex{
  position: relative;
  text-align: center;
  flex: 1 1 0;
}

.score_summary_icon{
  position: relative;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.score_summary_headline{
  font-size: 10px;
  font-weight: bold;
  text-align: left;
  color: #4caf50;
}

.score_summary_sub {
  font-size: 10px;
  text-align: center;
  color: #474747;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-size: 16px;
  font-weight: bold;
}

#score_detail{
  padding: 2px;
  border-style: solid;
  border-width: 1px;
  border-color: #4caf50;
  margin-top: 10px;
}

#score_detail_table{
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 12px;
  border-collapse: collapse;
  width: 100%;
}

#score_detail_table tr:hover {background-color: #ddd;}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row, .navbar {   
    flex-direction: column;
  }
}

#spielerprofil_metadaten{
  padding: 3px;
}

#spielerprofil_image{
  padding: 3px;
}

#meta_daten_table{
  font-size: 12px;
}

#spielerprofil_wrapper{
  background: white;
  overflow-x: hidden;
}

#spielerprofil_basisdaten{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 10px;
  height: 100px;
  background-image: linear-gradient(to bottom, #ffffff 0%, #f2f2f2 100%);
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
  margin-bottom: 10px;
  position: relative;
  font-size: 12px;
}

#spielerprofil_headline{
  text-align: center;
  margin: 10px;
  font-weight: bold;
  font-size: 18px;
}

#spielerprofil_metadaten{
  /*flex-grow: 2;*/
}

.profil_player_name{
  font-size: 14px;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px;
  }

.metadaten_table{
  display: flex;
}

.left_col, .right_col{
  display: table;
  margin-top: 3px;
  margin-right: 20px;
}

.meta_stat_row{
  display: table-row;
}

.meta_stat, .meta_value{
  display: table-cell;
  padding: 1px;
}

.meta_stat{
  padding-right: 10px !important;
}

#player_image{
  height: 100%;
  padding: 5px;
}


.sub_headline{
  font-size: 14px;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px;
}

#transfer_daten{
  margin-top: 10px;
  padding: 10px;
}

#transfer_table{
  font-size: 11px;
  color: #555;
  padding: 3px;
  text-align: center;
  white-space: nowrap;
}

#transfer_table th {
  padding: 4px;
  background-color: #e3e3e3;
  color: black;

}

#transfer_table tr {
}

#transfer_table td {
  color: #555;
  padding: 3px;
  text-align: left;
  white-space: nowrap;
}

#spielerprofil_fantasy{
  display: flex;
  flex-direction: column;
  margin: 10px;
  text-align: center;
  color: white;
  background: #333;
  font-family: Open Sans,sans-serif;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 1px;
  padding-bottom: 1px;border-radius: 5px 5px 5px 5px;
}

#spielerprofil_fantasy_head{
  padding: 2px;
  color: lightgray;
  font-size: 10px;
  font-weight: bold;
}

#spielerprofil_fantasy_score{
  display: inline-flex;
  padding: 2px;
  justify-content: space-around;

}

#spielerprofil_fantasy_score > div{
  padding: 3px;
  background: black;
  color: white;
  border-radius: 2px 2px 2px 2px;
  flex: 1 1 0px;
  margin-left: 1px;
  margin-right: 1px;
}

.gesamt_fantasy_score{

}

.gesamt_fantasy_score_head{
  text-transform: capitalize;
  font-size: 9px;

}

.gesamt_fantasy_score_value{
  font-weight: bold;
  font-size: 14px;
}

#spielerprofil_fantasy_rank{
  display: inline-flex;
  padding: 2px;
  justify-content: space-around;
  font-size: 9px;
}

#spielerprofil_fantasy_rank > div{
  padding: 3px;
}

#data_2019, #data_2020{
 /*margin-top: 10px;*/
 padding: 10px;
 overflow-x: scroll;

}



#table_2019, #table_2020 {
}

#table_2019 th, #table_2020 th {
  font-size: 9.5px;
  padding: 4px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis; 
}

#table_2019 td, #table_2020 td {
  font-size: 9.5px;
  color: #555;
  padding: 3px;
  border-bottom:1pt solid lightgray;
  text-align: center;
  white-space: nowrap;
}

#table_2020 tr:hover {
    background-color: #ddd;
    cursor: pointer; 
}

.first_th{
  background-color: #e3e3e3;
  text-decoration: none;
  font-weight: normal;
}

.second_th {
  background-color: #f4f4f4;
  text-decoration: none;
  font-weight: normal;
}

.highlight_td{
  font-weight: bold;
  font-size: 10px !important;
}


#highlights_2019{
  display: flex;
  margin: 10px;
}

.highlight_stat{
  display: inline-flex;
  flex-direction: column;
  justify-content: start;
  margin-left: 2.5px;
  margin-right: 2.5px;
  padding: 5px;
  background-color: #333;
  color: white;
  text-align: center;
}

.highlight_stat_headline {
  font-size: 10px;
  opacity: 0.5;

}

.higlight_stat_value{
  font-size: 11px;
  font-weight: bold;
}

.higlight_stat_ranks{
  display: inline-flex;
  flex-direction: row;
  font-size: 9px;
  text-align: center;
  opacity: 0.5;
  margin-top: 1px;
}
                
.highlight_stat_rank_ovr, .highlight_stat_rank_pos{
  text-align: center;
  padding: 1px;
}





#season_summary {
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: Open Sans,sans-serif;
  overflow-x: scroll;
}

.season_summary_item {
  margin-right: 5px;
  margin-left: 5px;
  background: #333;
  border-radius: 5px 5px 5px 5px;
  color: white;
  text-align: center;
  width: 50px;
  height: 50px;
  padding: 5px;


}

.season_summary_text {
}

.season_summary_headline {
  color: lightgray;
  font-size: 10px;
  overflow-x: hidden;
  white-space: nowrap;

}

.season_summary_stat {
  font-size: 12px;
  font-weight: bold;
  cursor: help;

}

.season_summary_rank {
  font-size: 9px;
  color: lightgray;
  white-space: nowrap;

}

.up{
  color:lightgreen;
}

.down{
  color:red;
}

@media screen and (max-width: 1200px){
/** Mobile hide **/
 .hide_mobile {
    display: none !important;
  }
}

body { 
  font-family: Arial, Helvetica, sans-serif; 
  background-color: #ffffff;
}

* {
  box-sizing: border-box;
}

/* Style the body */


#wrapper {
  background-image: url(grass2.jpg);
  background-repeat: repeat;
  padding-top: 30px;
  padding-bottom: 30px;

}

#content_wrapper{
  background: white;

  border: solid 1px lightgray;
  padding: 10px;
  margin-left: 2%;
  margin-right: 2%;

}

.top_band{
  background: black;
    display:flex; 
  justify-content: space-between;
}

.top_band > div {
  background: darkgray;
  display: flex;
  flex-direction: column;
  align-items:center;
}

#on_the_clock, #countdown {
  background-color: #333;
  color: white;
  padding: 5px;
  text-align: center;
  width: 120px;
  height: 120px;
  flex-shrink: 0;
  flex-grow: 0;
  box-shadow: inset 0px 0px 0px 1px white;
  justify-content: center;
  align-items: center;
  display: flex;
  text-overflow: ellipsis;
  overflow: hidden;
}

#countdown{
    font-family: 'digital-7', sans-serif;
}

#top_flow_band{
  display:flex; 
  justify-content: space-around;
  background-color: #333;
  flex-direction: row;
  box-shadow: inset 0px 0px 0px 1px white;
  width: 100%;
  }

#top_flow_band > div {
    display: flex;
    align-items:center;
      flex-basis: 100%;
    overflow:hidden;
    text-overflow:ellipsis;
    padding: 5px;
  margin: 2px;
  /*height: 60px;
  width: 60px;
  font-size: 11px;*/
}

/*
.highlight_pick_background{
  z-index: -100;
}


.highlight_pick_head
{
  z-index: 100;
}
*/

.content {
  display:flex; 
  /*justify-content: space-around;*/
}

.content > div {
  display: flex;
  flex-direction: column;
  /*align-items:center;*/
}

.left_column{
  background: url(/images/texturen/dottedBorder_vert.gif) repeat-y bottom right;
  margin-left: 1px;
  margin-right: 5px;
  padding: 5px;
}

#left_head{
  background-image: linear-gradient(to bottom, #ffffff 0%, #f2f2f2 100%);
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
  margin-bottom: 10px;
  position: relative;
  font-size: 18px;
  height: 65px;
}

#search_player_wrapper{
  display: flex;
}

#search_player{
  width: 100%;
  margin-left: 5px;
  margin-right: 5px;
  text-align: left;
}

#player_filters{
  display: flex;
  justify-content: space-between;
  margin-left: 5px;
  margin-right: 5px;
}

#position_filters, #misc_filters{
  display: flex;
  justify-content: space-around;
}

.filter_button{
padding: 5px;
border-radius: 5px;
color: white;
background-color: lightgray;
font-size: 11;
border: 0;
cursor: pointer;
margin: 3px;
}

#selectable_players_list{
    overflow: scroll;
    max-height: 70vh;;
}

.players_tr{
  display: table-row;
  font-size: 11px;
}

.players_tr:hover{
  background-color: lightgray;
  cursor: pointer;
}

.players_td{
  display: table-cell;
  padding: 1px;
  padding-left: 2px;
  padding-right: 2px;

}

.picked{
  opacity: 0.2;
}

.right_column{
  background: url(/images/texturen/dottedBorder_vert.gif) repeat-y bottom left;
  margin-right: 1px;
  margin-left: 5px;
  padding: 5px;
}

#right_head{
  background-image: linear-gradient(to bottom, #ffffff 0%, #f2f2f2 100%);
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
  margin-bottom: 10px;
  position: relative;
  font-size: 18px;
  height: 65px;
}

.dropdown{
  overflow: hidden;
  justify-content: center;
  display: flex;
  margin-top: 15px;
  margin-bottom: auto;
  padding-left: 5px;
  padding-right: 5px;
}

#view_team_wrapper{

}

#view_team_count{
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 12px;
  font-weight: bold;

}

.view_team_position_head{
  display: flex;
  justify-content: space-between;
  background: url(/images/texturen/dottedBorder.gif) repeat-x bottom left;
  padding: 3px;
  margin-top: 3px;
  font-size: 12px;

}

.view_team_player_table{
  display: table;

}

.view_team_player_tr{
  display: table-row;
  font-size: 11px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.view_team_player_td{
  display: table-cell;
  padding: 2px;
  vertical-align: middle;

}



.main{
  background: lightgray;
  overflow: scroll;
  flex: 1;
  width: 100%;
}


#spielerprofil_metadaten{
  padding: 3px;
}

#spielerprofil_image{
  padding: 3px;
  height: 100px;
width: 100px;
}

#meta_daten_table{
  font-size: 12px;
}

.draft_grid {
  display:table;border-collapse:separate;border-spacing:5px;

}

.draft_grid_row {
  display: table-row;
}

.draft_grid_cell_ftsy_team{
  font-size: 10px;
  height: 20px !important;
  text-align: center;
}

.draft_grid_cell {
    display:table-cell;
    color: #ababab;
    background-color: #dedede;
    margin-bottom: .8rem;
    width: 85px;
    min-width: 85px;
    max-width: 85px;
    height: 55px;
    padding: .65rem .8rem;
    line-height: 1.4rem;
    border-radius: 4px;
    box-shadow: 0 2px 2px 0 hsla(0,0%,75.3%,.5);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.draft_grid_cell_name{
  font-size: 13px;
  font-family: Open Sans,sans-serif;
  letter-spacing: .1px;
  font-weight: bold;  
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.draft_grid_cell_info{
  font-size: 11px;
  display: flex;
  justify-content: space-between;
}

.draft_grid_cell_pos{
   font-family: Open Sans,sans-serif; 
}

.draft_grid_cell_pick{
  font-family: Open Sans,sans-serif;
}

.draft_grid_cell_coloring_ST{
  background-color: #e75a4b;
  color: white;
}

.draft_grid_cell_coloring_MF{
  background-color: #f2a842;
  color: white;

}

.draft_grid_cell_coloring_AW{
  background-color: #4392f1;
  color: white;
}

.draft_grid_cell_coloring_TW{
  background-color: #3ca27b;
  color: white;
}

.draft_grid_cell_coloring_unpicked{
  background-color: #f1f1f1;
  color: #8888a5;
}

.draft_user{
  cursor: pointer;
}

#data_2019{
 margin-top: 10px;
 padding: 10px;
}

#table_2019 {
  width: 100%;
  overflow-x: auto;
}

#table_2019 th {
  font-size: 9.5px;
  padding: 4px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis; 
}

#table_2019 td {
  font-size: 9.5px;
  color: #555;
  padding: 3px;
  border-bottom:1pt solid lightgray;
  text-align: center;
  white-space: nowrap;
}

.first_th{
  background-color: #e3e3e3;
  text-decoration: none;
  font-weight: normal;
}

.second_th {
  background-color: #f4f4f4;
  text-decoration: none;
  font-weight: normal;
}

.highlight_td{
  font-weight: bold;
  font-size: 10px !important;
}


#highlights_2019{
  display: flex;
  margin: 10px;
}

.highlight_stat{
  display: inline-flex;
  flex-direction: column;
  justify-content: start;
  margin-left: 2.5px;
  margin-right: 2.5px;
  padding: 5px;
  background-color: #333;
  color: white;
  text-align: center;
}

.highlight_stat_headline {
  font-size: 10px;
  opacity: 0.5;

}

.higlight_stat_value{
  font-size: 11px;
  font-weight: bold;
}

.higlight_stat_ranks{
  display: inline-flex;
  flex-direction: row;
  font-size: 9px;
  text-align: center;
  opacity: 0.5;
  margin-top: 1px;
}
                
.highlight_stat_rank_ovr, .highlight_stat_rank_pos{
  text-align: center;
  padding: 1px;
}

#spielerprofil_wrapper{
  background: white;
}

#spielerprofil_basisdaten{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 10px;
  height: 100px;
  background-image: linear-gradient(to bottom, #ffffff 0%, #f2f2f2 100%);
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
  margin-bottom: 10px;
  position: relative;
  font-size: 12px;
}

#spielerprofil_headline{
  text-align: center;
  margin: 10px;
  font-weight: bold;
  font-size: 18px;
}

#spielerprofil_metadaten{
  flex-grow: 2;
}

.profil_player_name{
  font-size: 14px;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px;
  }

.metadaten_table{
  display: flex;
}

.left_col, .right_col{
  display: table;
  margin-top: 3px;
  margin-right: 20px;
}

.meta_stat_row{
  display: table-row;
}

.meta_stat, .meta_value{
  display: table-cell;
  padding: 1px;
}

.meta_stat{
  padding-right: 10px !important;
}

#player_image{
  height: 100%;
}

.sub_headline{
  font-size: 14px;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px;
}

#transfer_daten{
  margin-top: 10px;
  padding: 10px;
}

#transfer_table{
  font-size: 11px;
  color: #555;
  padding: 3px;
  text-align: center;
  white-space: nowrap;
}

#transfer_table th {
  padding: 4px;
  background-color: #e3e3e3;
  color: black;

}

#transfer_table tr {
}

#transfer_table td {
  color: #555;
  padding: 3px;
  text-align: left;
  white-space: nowrap;
}


#spielerprofil_fantasy{
  display: flex;
  flex-direction: column;
  margin: 10px;
  text-align: center;
  color: white;
  background: #333;
  font-family: Open Sans,sans-serif;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 1px;
  padding-bottom: 1px;border-radius: 5px 5px 5px 5px;
}

#spielerprofil_fantasy_head{
  padding: 2px;
  color: lightgray;
  font-size: 10px;
  font-weight: bold;
}

#spielerprofil_fantasy_score{
  display: inline-flex;
  padding: 2px;
  justify-content: space-around;

}

#spielerprofil_fantasy_score > div{
  padding: 3px;
  background: black;
  color: white;
  border-radius: 2px 2px 2px 2px;
  flex: 1 1 0px;
  margin-left: 1px;
  margin-right: 1px;
}

.gesamt_fantasy_score{

}

.gesamt_fantasy_score_head{
  text-transform: capitalize;
  font-size: 9px;

}

.gesamt_fantasy_score_value{
  font-weight: bold;
  font-size: 14px;
}

#spielerprofil_fantasy_rank{
  display: inline-flex;
  padding: 2px;
  justify-content: space-around;
  font-size: 9px;
}

#spielerprofil_fantasy_rank > div{
  padding: 3px;
}

