.content {
  text-align: center;
  padding: 5px;
}

.ui-state-default {
	width: 95%;
	background: #DCDCDC;
	font-size: 1em;
}

.ui-state-default.dragging {
  opacity: 0.7;
  background: #b2dfdb;
  box-shadow: 0 4px 16px rgba(44, 62, 80, 0.2);
  transition: background 0.2s, box-shadow 0.2s, opacity 0.2s;
}

#active_waivers { 
  list-style-type: none; 
  margin: 0; 
  padding: 0; 
  width: 100%; }

#active_waivers li { 
  margin: 3px 3px 3px 3px; 
  padding: 0.4em; 
  width: 95%; 
  text-align: left; 
  display: inline-block; 
  flex-direction: row;}

.ui-state-highlight { 
  width: 95%;
  height: 20px;
  line-height: 1.2em;
  background: #ffe082 !important;
  border: 2px dashed #e2e050;
  transition: background 0.2s, border 0.2s;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

#hilfscontainer{
  padding: 15px;
}

.col{
    background: rgba(241, 241, 241, .3);
    padding: 10px;
    width: 75%;
    margin: 0 auto; 
    }

#headline {
  color: white;
  text-align: center;
  padding-bottom: -10px;
}

#footer {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  margin: 0 auto;
}

.footer_box{
  padding: 15px;
  background-color: white;
  margin: 5px;
  margin-bottom: 0px;
  text-align: center;
  font-size: 10px;
  flex: calc(25% - 40px);
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

@media (max-width: 600px) {
  .col {
    width: 100%;
    margin: 0;
  }
}